# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment variables (VERY IMPORTANT)
.env

# Local databases (you already removed them, but keep this)


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.bak

# Jupyter (if any)
.ipynb_checkpoints/

# Render (optional)
.render/